In [1]:
import numpy as np
import pandas as pd
from scipy.special import boxcox, inv_boxcox
from scipy.stats import boxcox_normmax
import matplotlib.pyplot as plt
from neuralforecast import NeuralForecast
from neuralforecast.models import NBEATS
from neuralforecast.losses.pytorch import MAE, DistributionLoss
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
df_up = pd.read_csv("../data/5_yr_data/UP5_years.csv")
df_up['datetime'] = pd.to_datetime(df_up['date'])
df_up.drop(columns=["Unnamed: 0"], axis=1, inplace=True)
df_up.sort_values(by="datetime", ascending=True, inplace=True)
df_up.head()

,district_name,market_name,commodity,variety,grade,min_rs_quintal,max_rs_quintal,modal_rs_quintal,date,year,month,day_of_month,datetime
714742,Bijnor,Bijnaur,Onion,Red,FAQ,2950.0,3040.0,3000.0,01 Jan 2018,2018,Jan,1,2018-01-01
433767,Mau(Maunathbhanjan),Kopaganj,Wheat,Dara,FAQ,1525.0,1625.0,1575.0,01 Jan 2018,2018,Jan,1,2018-01-01
439485,Gorakhpur,Gorakhpur,Wheat,Dara,FAQ,1560.0,1590.0,1575.0,01 Jan 2018,2018,Jan,1,2018-01-01
83163,Shahjahanpur,Tilhar,Potato,Potato,FAQ,490.0,510.0,500.0,01 Jan 2018,2018,Jan,1,2018-01-01
730321,Bulandshahar,Divai,Onion,Red,FAQ,2800.0,3000.0,2900.0,01 Jan 2018,2018,Jan,1,2018-01-01

In [ ]:
TRAIN_LEN = int(0.8 * len(df_up))
up_train, up_test = (df_up[:TRAIN_LEN],df_up[TRAIN_LEN:])
up_train.set_index('datetime', inplace=True)
up_train.sort_index(inplace=True)
up_test.set_index('datetime', inplace=True)
up_test.sort_index(inplace=True)

In [ ]:
commodity = "Rice"
df_train_commodity = up_train[up_train['commodity'] == commodity]
df_train_commodity_dt = df_train_commodity.groupby("datetime").agg({"modal_rs_quintal":"mean"})
df_train_commodity_dt

            modal_rs_quintal
datetime
2018-01-01       2244.840426
2018-01-02       2261.681818
2018-01-03       2235.193548
2018-01-04       2258.073684
2018-01-05       2291.752941
...                      ...
2023-04-29       2648.738739
2023-04-30       2665.293103
2023-05-01       2614.902913
2023-05-02       2653.594340
2023-05-03       2596.029412

[1949 rows x 1 columns]

In [ ]:
df_test_commodity = up_test[up_test['commodity'] == commodity]
df_test_commodity_dt = df_test_commodity.groupby("datetime").agg({"modal_rs_quintal":"mean"})
df_test_commodity_dt.head()

            modal_rs_quintal
datetime
2023-05-03       2581.857143
2023-05-04       2681.118421
2023-05-05       2662.755102
2023-05-06       2594.227273
2023-05-07       2559.982456

In [ ]:
df_train_commodity_dt.reset_index(inplace=True)
df_train_commodity_dt['unique_id'] = commodity
df_train_commodity_dt.rename(columns={"datetime" : "ds", "modal_rs_quintal" : "y"}, inplace=True)
df_train_commodity_dt.head()

          ds            y unique_id
0 2018-01-01  2244.840426      Rice
1 2018-01-02  2261.681818      Rice
2 2018-01-03  2235.193548      Rice
3 2018-01-04  2258.073684      Rice
4 2018-01-05  2291.752941      Rice

In [ ]:
df_test_commodity_dt.reset_index(inplace=True)
df_test_commodity_dt['unique_id'] = commodity
df_test_commodity_dt.rename(columns={"datetime" : "ds", "modal_rs_quintal" : "y"}, inplace=True)
df_test_commodity_dt.head()

          ds            y unique_id
0 2023-05-03  2581.857143      Rice
1 2023-05-04  2681.118421      Rice
2 2023-05-05  2662.755102      Rice
3 2023-05-06  2594.227273      Rice
4 2023-05-07  2559.982456      Rice

In [ ]:
df_train_commodity_dt.shape

(1949, 3)

In [ ]:
df_test_commodity_dt.shape

(488, 3)

In [ ]:
# Required imports
import pandas as pd
import numpy as np
from neuralforecast import NeuralForecast
from neuralforecast.models import NBEATS, NHITS, DeepAR, TFT, LSTM, RNN, GRU
from neuralforecast.losses.pytorch import DistributionLoss, MAE, MSE, MAPE, SMAPE
import torch

from darts import TimeSeries
from darts.models import (
    NBEATSModel,
    NHiTSModel,
    BlockRNNModel,
    TCNModel,
    TiDEModel,
    TransformerModel,
    RandomForest,
    LightGBMModel,
    XGBModel,
    Prophet,
)


def create_nixtla_models(input_size=120, output_size=368):
    """
    Create a collection of Nixtla models with correct parameters
    """
    # Common parameters
    common_params = {
        "input_size": input_size,
        "h": output_size,
        "max_steps": 100,
        "val_check_steps": 16,
        "early_stop_patience_steps": 4,
    }

    # N-BEATS model
    nbeats = NBEATS(
        **common_params,
        loss=DistributionLoss(distribution="Normal", level=[80, 90]),
        stack_types=["trend", "seasonality"],
        num_blocks=[3, 3],
        num_layers=[4, 4],
        layer_widths=[256, 2048],
        expansion_coefficient_lengths=[5, 7],
        trend_polynomial_degree=2,
    )

    # N-HiTS model
    nhits = NHITS(
        **common_params,
        loss=DistributionLoss(distribution="Normal", level=[80, 90]),
        num_stacks=3,  # Default is 3
        hidden_size=128,  # Units per hidden layer
        n_freq_downsample=[168, 24, 1],  # Pooling factor per stack
        pooling_kernel_sizes=[168, 24, 1],
        interpretation=False,
        activation="ReLU",
    )

    # DeepAR model
    deepar = DeepAR(
        **common_params,
        loss=DistributionLoss(distribution="StudentT", level=[80, 90]),
        hidden_size=128,
        rnn_layers=2,
        dropout=0.1,
        cell_type="LSTM",
    )

    # Temporal Fusion Transformer
    tft = TFT(
        **common_params,
        loss=DistributionLoss(distribution="Normal", level=[80, 90]),
        hidden_size=128,  # Hidden state size
        lstm_hidden_size=64,  # Size of LSTM hidden states
        num_attention_heads=4,  # Number of attention heads
        dropout=0.1,  # Dropout rate
        hidden_continuous_size=64,  # Size for processing continuous variables
    )

    # LSTM model
    lstm = LSTM(
        **common_params,
        loss=MSE(),
        hidden_size=128,
        num_layers=2,
        dropout=0.1,
        batch_normalization=True,
    )

    # RNN model
    rnn = RNN(
        **common_params,
        loss=MAE(),
        hidden_size=128,
        num_layers=2,
        dropout=0.1,
        cell_type="GRU",
    )

    # GRU model
    gru = GRU(**common_params, loss=SMAPE(), hidden_size=128, num_layers=2, dropout=0.1)

    # Create NeuralForecast object with all models
    fcst = NeuralForecast(models=[nbeats, nhits, deepar, tft, lstm, rnn, gru], freq="D")

    return fcst


def create_darts_models(input_chunk_length=120, output_chunk_length=30, n_epochs=100):
    """
    Create a collection of Darts models with correct parameters
    """
    # Common parameters for neural networks
    nn_params = {
        "input_chunk_length": input_chunk_length,
        "output_chunk_length": output_chunk_length,
        "n_epochs": n_epochs,
        "batch_size": 32,
        "force_reset": True,
    }

    models = {
        # Neural network based models
        "nbeats": NBEATSModel(
            **nn_params,
            generic_architecture=False,
            num_stacks=2,
            num_blocks=3,
            num_layers=4,
            layer_widths=256,
            expansion_coefficient_dim=5,
            trend_polynomial_degree=2,
        ),
        "nhits": NHiTSModel(
            **nn_params,
            num_stacks=3,
            num_blocks=1,
            num_layers=2,
            layer_widths=512,
            pooling_kernel_sizes=None,
            n_freq_downsample=None,
            dropout=0.1,
            activation="ReLU",
            MaxPool1d=True,
        ),
        "block_rnn": BlockRNNModel(
            **nn_params,
            model="LSTM",
            hidden_dim=128,
            n_rnn_layers=2,
            dropout=0.1,
        ),
        "tcn": TCNModel(
            **nn_params,
            num_filters=64,
            kernel_size=3,
            dilation_base=2,
            dropout=0.1,
            weight_norm=True,
        ),
        "tide": TiDEModel(
            **nn_params,
            num_encoder_layers=2,
            num_decoder_layers=2,
            temporal_width_past=24,
            temporal_width_future=12,
            temporal_decoder_hidden=32,
        ),
        "transformer": TransformerModel(
            **nn_params,
            d_model=64,
            nhead=4,
            num_encoder_layers=3,
            num_decoder_layers=3,
            dim_feedforward=256,
            dropout=0.1,
            activation="gelu",
        ),
        # Traditional ML models
        "random_forest": RandomForest(
            lags=input_chunk_length,
            n_estimators=100,
            max_depth=None,
            min_samples_split=2,
        ),
        
        "xgboost": XGBModel(
            lags=input_chunk_length, n_estimators=100, max_depth=6, learning_rate=0.1
        ),
        
    }

    return models


def train_and_forecast(df_train, df_test, use_nixtla=True):
    """
    Train models and generate forecasts using either Nixtla or Darts
    """
    if use_nixtla:
        # Nixtla workflow
        fcst = create_nixtla_models()

        # Ensure df_train has the required columns
        if "unique_id" not in df_train.columns:
            df_train["unique_id"] = "series0"
        if "ds" not in df_train.columns:
            df_train = df_train.rename(columns={"date": "ds"})
        if "y" not in df_train.columns:
            df_train = df_train.rename(columns={"value": "y"})

        # Similarly for test data
        if "unique_id" not in df_test.columns:
            df_test["unique_id"] = "series0"
        if "ds" not in df_test.columns:
            df_test = df_test.rename(columns={"date": "ds"})
        if "y" not in df_test.columns:
            df_test = df_test.rename(columns={"value": "y"})

        fcst.fit(df=df_train, val_size=488)
        forecasts = fcst.predict(futr_df=df_test)
        return forecasts
    else:
        # Darts workflow
        # Convert pandas DataFrame to Darts TimeSeries
        series = TimeSeries.from_dataframe(df_train, "ds", "y")

        # Create and train models
        models = create_darts_models()
        forecasts = {}

        for name, model in models.items():
            print(f"Training {name} model...")
            model.fit(series)
            forecast = model.predict(len(df_test))
            forecasts[name] = forecast

        return forecasts


# Example usage:
"""
# For Nixtla models
nixtla_forecasts = train_and_forecast(df_train_commodity_dt, df_test_commodity_dt, use_nixtla=True)

# For Darts models
darts_forecasts = train_and_forecast(df_train_commodity_dt, df_test_commodity_dt, use_nixtla=False)
"""

'\n# For Nixtla models\nnixtla_forecasts = train_and_forecast(df_train_commodity_dt, df_test_commodity_dt, use_nixtla=True)\n\n# For Darts models\ndarts_forecasts = train_and_forecast(df_train_commodity_dt, df_test_commodity_dt, use_nixtla=False)\n'

In [ ]:
y_train = df_train_commodity_dt['y']

             ds            y unique_id
0    2018-01-01  2244.840426      Rice
1    2018-01-02  2261.681818      Rice
2    2018-01-03  2235.193548      Rice
3    2018-01-04  2258.073684      Rice
4    2018-01-05  2291.752941      Rice
...         ...          ...       ...
1944 2023-04-29  2648.738739      Rice
1945 2023-04-30  2665.293103      Rice
1946 2023-05-01  2614.902913      Rice
1947 2023-05-02  2653.594340      Rice
1948 2023-05-03  2596.029412      Rice

[1949 rows x 3 columns]

In [ ]:
nixtla_forecasts = train_and_forecast(
    df_train_commodity_dt, df_test_commodity_dt, use_nixtla=False
)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

  | Name            | Type             | Params | Mode
-------------------------------------------------------------
0 | criterion       | MSELoss          | 0      | train
1 | train_criterion | MSELoss          | 0      | train
2 | val_criterion   | MSELoss          | 0      | train
3 | train_metrics   | MetricCollection | 0      | train
4 | val_metrics     | MetricCollection | 0      | train
5 | stacks          | ModuleList       | 511 K  | train
-------------------------------------------------------------
465 K     Trainable params
46.2 K    Non-trainable params
511 K     Total params
2.048     Total estimated model params size (MB)
32        Modules in train mode
0         Modules in eval mode

Training nbeats model...

Training: |          | 0/? [00:00<?, ?it/s]

`Trainer.fit` stopped: `max_epochs=100` reached.
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

Predicting: |          | 0/? [00:00<?, ?it/s]

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

  | Name            | Type             | Params | Mode
-------------------------------------------------------------
0 | criterion       | MSELoss          | 0      | train
1 | train_criterion | MSELoss          | 0      | train
2 | val_criterion   | MSELoss          | 0      | train
3 | train_metrics   | MetricCollection | 0      | train
4 | val_metrics     | MetricCollection | 0      | train
5 | stacks          | ModuleList       | 968 K  | train
-------------------------------------------------------------
907 K     Trainable params
61.6 K    Non-trainable params
968 K     Total params
3.876     Total estimated model params size (MB)
42        Modules in train mode
0         Modules in eval mode

Training nhits model...

Training: |          | 0/? [00:00<?, ?it/s]

`Trainer.fit` stopped: `max_epochs=100` reached.
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

Predicting: |          | 0/? [00:00<?, ?it/s]

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

  | Name            | Type             | Params | Mode
-------------------------------------------------------------
0 | criterion       | MSELoss          | 0      | train
1 | train_criterion | MSELoss          | 0      | train
2 | val_criterion   | MSELoss          | 0      | train
3 | train_metrics   | MetricCollection | 0      | train
4 | val_metrics     | MetricCollection | 0      | train
5 | rnn             | LSTM             | 199 K  | train
6 | fc              | Sequential       | 3.9 K  | train
-------------------------------------------------------------
203 K     Trainable params
0         Non-trainable params
203 K     Total params
0.812     Total estimated model params size (MB)
8         Modules in train mode
0         Modules in eval mode

Training block_rnn model...

Training: |          | 0/? [00:00<?, ?it/s]

`Trainer.fit` stopped: `max_epochs=100` reached.
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

Predicting: |          | 0/? [00:00<?, ?it/s]

/home/shri/learning/sih/krushiJyothishii/sih_2024/.venv/lib/python3.12/site-packages/torch/nn/utils/weight_norm.py:134: FutureWarning: `torch.nn.utils.weight_norm` is deprecated in favor of `torch.nn.utils.parametrizations.weight_norm`.
  WeightNorm.apply(module, name, dim)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

  | Name            | Type             | Params | Mode
-------------------------------------------------------------
0 | criterion       | MSELoss          | 0      | train
1 | train_criterion | MSELoss          | 0      | train
2 | val_criterion   | MSELoss          | 0      | train
3 | train_metrics   | MetricCollection | 0      | train
4 | val_metrics     | MetricCollection | 0      | train
5 | res_blocks      | ModuleList       | 100 K  | train
-------------------------------------------------------------
100 K     Trainable params
0         Non-trainable params
100 K     Total params
0.400     Total estimated model params size (MB)
33        Modules in train mode
0         Modules in eval mode

Training tcn model...

Training: |          | 0/? [00:00<?, ?it/s]

`Trainer.fit` stopped: `max_epochs=100` reached.
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

Predicting: |          | 0/? [00:00<?, ?it/s]

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

  | Name             | Type             | Params | Mode
--------------------------------------------------------------
0 | criterion        | MSELoss          | 0      | train
1 | train_criterion  | MSELoss          | 0      | train
2 | val_criterion    | MSELoss          | 0      | train
3 | train_metrics    | MetricCollection | 0      | train
4 | val_metrics      | MetricCollection | 0      | train
5 | encoders         | Sequential       | 97.0 K | train
6 | decoders         | Sequential       | 189 K  | train
7 | temporal_decoder | _ResidualBlock   | 594    | train
8 | lookback_skip    | Linear           | 3.6 K  | train
--------------------------------------------------------------
291 K     Trainable params
0         Non-trainable params
291 K     Total params
1.165     Total estimated model params size (MB)
43        Modules in train mode
0         Modules in eval mode

Training tide model...

Training: |          | 0/? [00:00<?, ?it/s]

`Trainer.fit` stopped: `max_epochs=100` reached.
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

Predicting: |          | 0/? [00:00<?, ?it/s]

/home/shri/learning/sih/krushiJyothishii/sih_2024/.venv/lib/python3.12/site-packages/torch/nn/modules/transformer.py:307: UserWarning: enable_nested_tensor is True, but self.use_nested_tensor is False because encoder_layer.self_attn.batch_first was not True(use batch_first for better inference performance)
  warnings.warn(f"enable_nested_tensor is True, but self.use_nested_tensor is False because {why_not_sparsity_fast_path}")
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

  | Name                | Type                | Params | Mode
--------------------------------------------------------------------
0 | criterion           | MSELoss             | 0      | train
1 | train_criterion     | MSELoss             | 0      | train
2 | val_criterion       | MSELoss             | 0      | train
3 | train_metrics       | MetricCollection    | 0      | train
4 | val_metrics         | MetricCollection    | 0      | train
5 | encoder             | Linear              | 128    | train
6 | positional_encoding | _PositionalEncoding | 0      | train
7 | transformer         | Transformer         | 350 K  | train
8 | decoder             | Linear              | 1.9 K  | train
--------------------------------------------------------------------
352 K     Trainable params
0         Non-trainable params
352 K     Total params
1.410     Total estimated model params size (MB)
88        Modules in train mode
0         Modules in eval mode

Training transformer model...

Training: |          | 0/? [00:00<?, ?it/s]

`Trainer.fit` stopped: `max_epochs=100` reached.
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

Predicting: |          | 0/? [00:00<?, ?it/s]

Training random_forest model...
Training xgboost model...

In [ ]:
nixtla_forecasts

{'nbeats': <TimeSeries (DataArray) (ds: 488, component: 1, sample: 1)> Size: 4kB
 array([[[2639.33696788]],

        [[2615.77879673]],

        [[2625.00163047]],

        [[2640.62315947]],

        [[2627.40220068]],

        [[2595.34941697]],

        [[2601.16252655]],

        [[2638.49261573]],

        [[2608.34834722]],

        [[2618.15027147]],

 ...

        [[2596.88305078]],

        [[2591.0446558 ]],

        [[2582.96959298]],

        [[2584.52410646]],

        [[2591.94867862]],

        [[2587.26991158]],

        [[2590.07644368]],

        [[2600.14847853]],

        [[2589.23266195]],

        [[2588.09429026]]])
 Coordinates:
   * ds         (ds) datetime64[ns] 4kB 2023-05-04 2023-05-05 ... 2024-09-02
   * component  (component) object 8B 'y'
 Dimensions without coordinates: sample
 Attributes:
     static_covariates:  None
     hierarchy:          None,
 'nhits': <TimeSeries (DataArray) (ds: 488, component: 1, sample: 1)> Size: 4kB
 array([[[2653.23030267]],

        [[2638.9559018 ]],

        [[2643.8689734 ]],

        [[2654.3090718 ]],

        [[2658.81957271]],

        [[2621.15206782]],

        [[2628.74332023]],

        [[2654.1470893 ]],

        [[2622.88142625]],

        [[2634.92935712]],

 ...

        [[2940.27183633]],

        [[2936.16144448]],

        [[2938.37193894]],

        [[2935.71312125]],

        [[2942.0506727 ]],

        [[2946.07873614]],

        [[2941.19300135]],

        [[2944.85779788]],

        [[2938.13233126]],

        [[2943.90386874]]])
 Coordinates:
   * ds         (ds) datetime64[ns] 4kB 2023-05-04 2023-05-05 ... 2024-09-02
   * component  (component) object 8B 'y'
 Dimensions without coordinates: sample
 Attributes:
     static_covariates:  None
     hierarchy:          None,
 'block_rnn': <TimeSeries (DataArray) (ds: 488, component: 1, sample: 1)> Size: 4kB
 array([[[710.13835729]],

        [[710.23995476]],

        [[709.42207898]],

        [[708.97893489]],

        [[709.94975191]],

        [[710.06603933]],

        [[710.34308446]],

        [[709.14601551]],

        [[709.32459236]],

        [[709.5201237 ]],

 ...

        [[709.37735159]],

        [[709.8720333 ]],

        [[709.70532792]],

        [[709.04110672]],

        [[710.81281104]],

        [[709.61738432]],

        [[710.09241593]],

        [[711.38863835]],

        [[710.52272742]],

        [[710.73230809]]])
 Coordinates:
   * ds         (ds) datetime64[ns] 4kB 2023-05-04 2023-05-05 ... 2024-09-02
   * component  (component) object 8B 'y'
 Dimensions without coordinates: sample
 Attributes:
     static_covariates:  None
     hierarchy:          None,
 'tcn': <TimeSeries (DataArray) (ds: 488, component: 1, sample: 1)> Size: 4kB
 array([[[2580.51868742]],

        [[2568.7825192 ]],

        [[2573.64823631]],

        [[2560.79742507]],

        [[2572.39010728]],

        [[2566.21075891]],

        [[2573.45900533]],

        [[2578.80046028]],

        [[2579.45971689]],

        [[2565.19877843]],

 ...

        [[2522.46228886]],

        [[2522.68562595]],

        [[2522.56416252]],

        [[2521.87794481]],

        [[2521.80853544]],

        [[2522.22811251]],

        [[2522.13584661]],

        [[2522.22449107]],

        [[2523.11516008]],

        [[2523.62440634]]])
 Coordinates:
   * ds         (ds) datetime64[ns] 4kB 2023-05-04 2023-05-05 ... 2024-09-02
   * component  (component) object 8B 'y'
 Dimensions without coordinates: sample
 Attributes:
     static_covariates:  None
     hierarchy:          None,
 'tide': <TimeSeries (DataArray) (ds: 488, component: 1, sample: 1)> Size: 4kB
 array([[[2604.95396584]],

        [[2579.40368664]],

        [[2588.59134759]],

        [[2571.54597844]],

        [[2581.61982005]],

        [[2608.12544832]],

        [[2540.99454722]],

        [[2611.05104685]],

        [[2566.90282285]],

        [[2574.04424968]],

 ...

        [[2138.33678531]],

        [[2196.2207115 ]],

        [[2154.2656631 ]],

        [[2173.16565988]],

        [[2126.81251633]],

        [[2154.21317124]],

        [[2184.34391765]],

        [[2159.35690176]],

        [[2177.695241  ]],

        [[2161.062243  ]]])
 Coordinates:
   * ds         (ds) datetime64[ns] 4kB 2023-05-04 2023-05-05 ... 2024-09-02
   * component  (component) object 8B 'y'
 Dimensions without coordinates: sample
 Attributes:
     static_covariates:  None
     hierarchy:          None,
 'transformer': <TimeSeries (DataArray) (ds: 488, component: 1, sample: 1)> Size: 4kB
 array([[[2486.50220194]],

        [[2485.81931822]],

        [[2486.37193415]],

        [[2487.01801858]],

        [[2486.84297076]],

        [[2486.74749753]],

        [[2487.27810682]],

        [[2487.56748436]],

        [[2487.62205975]],

        [[2487.37326102]],

 ...

        [[2489.35459499]],

        [[2488.98180054]],

        [[2490.02916831]],

        [[2489.9143292 ]],

        [[2490.00096708]],

        [[2489.88441298]],

        [[2490.60072595]],

        [[2489.89102811]],

        [[2490.89236677]],

        [[2490.89382433]]])
 Coordinates:
   * ds         (ds) datetime64[ns] 4kB 2023-05-04 2023-05-05 ... 2024-09-02
   * component  (component) object 8B 'y'
 Dimensions without coordinates: sample
 Attributes:
     static_covariates:  None
     hierarchy:          None,
 'random_forest': <TimeSeries (DataArray) (ds: 488, component: 1, sample: 1)> Size: 4kB
 array([[[2630.14696835]],

        [[2626.5746029 ]],

        [[2620.82806745]],

        [[2637.4294185 ]],

        [[2628.34093289]],

        [[2618.10445625]],

        [[2615.81183616]],

        [[2632.68166714]],

        [[2619.34745815]],

        [[2624.96966107]],

 ...

        [[2612.98216591]],

        [[2612.82667956]],

        [[2613.19328895]],

        [[2613.41089691]],

        [[2612.67270489]],

        [[2613.65921048]],

        [[2613.79607851]],

        [[2613.43418593]],

        [[2613.58105362]],

        [[2613.2851538 ]]])
 Coordinates:
   * ds         (ds) datetime64[ns] 4kB 2023-05-04 2023-05-05 ... 2024-09-02
   * component  (component) object 8B 'y'
 Dimensions without coordinates: sample
 Attributes:
     static_covariates:  None
     hierarchy:          None,
 'xgboost': <TimeSeries (DataArray) (ds: 488, component: 1, sample: 1)> Size: 2kB
 array([[[2643.025 ]],

        [[2628.4717]],

        [[2614.6094]],

        [[2645.8276]],

        [[2636.5244]],

        [[2633.146 ]],

        [[2612.111 ]],

        [[2673.8618]],

        [[2619.1516]],

        [[2635.858 ]],

 ...

        [[2608.4238]],

        [[2634.5613]],

        [[2626.5298]],

        [[2614.1062]],

        [[2603.6758]],

        [[2606.0178]],

        [[2607.1157]],

        [[2613.419 ]],

        [[2622.374 ]],

        [[2621.4473]]], dtype=float32)
 Coordinates:
   * ds         (ds) datetime64[ns] 4kB 2023-05-04 2023-05-05 ... 2024-09-02
   * component  (component) object 8B 'y'
 Dimensions without coordinates: sample
 Attributes:
     static_covariates:  None
     hierarchy:          None}