In [27]:
import numpy as np
import pandas as pd
import plotly.express as px
import os
from dotenv import load_dotenv
load_dotenv()

True

In [28]:
print(os.environ.get("DATA_SOURCE_DIR"))

data/

In [29]:
DATA_SOURCE = "../data/5_yr_data/"

In [30]:
mp_5yrs = pd.read_csv(DATA_SOURCE+"MP5_years.csv")
up_5yrs = pd.read_csv(DATA_SOURCE+"UP5_years.csv")
pb_5yrs = pd.read_csv(DATA_SOURCE+"PB5_years.csv")
rj_5yrs = pd.read_csv(DATA_SOURCE+"RJ5_years.csv")
wb_5yrs = pd.read_csv(DATA_SOURCE+"WB5_years.csv")

In [41]:
YEARS= [2024]
STATE_DFS = {'up':up_5yrs,"mp":mp_5yrs,"pb":pb_5yrs,'rj':rj_5yrs,"wb":wb_5yrs}

In [42]:
up_5yrs['state'] = "up"
up_5yrs['datetime'] = pd.to_datetime(up_5yrs['date'])
up_5yrs['day_of_week_name'] = up_5yrs['datetime'].dt.day_name()
up_5yrs['week_number'] = up_5yrs['datetime'].dt.isocalendar().week
state_year = up_5yrs[up_5yrs['year'] == 2024]
state_year_gb = state_year.groupby(['week_number',"commodity"]).agg({"modal_rs_quintal" : "mean"}).reset_index()
# px.line(state_year_gb, x="week_number", y="modal_rs_quintal",color="commodity")

In [44]:
for year in YEARS:
    for state, df in STATE_DFS.items():
        df['state'] = state
        df['datetime'] = pd.to_datetime(df['date'])
        df['day_of_week_name'] = df['datetime'].dt.day_name()
        df['week_number'] = df['datetime'].dt.isocalendar().week
        state_year = df[df['year'] == year]
        state_year_gb = state_year.groupby(['week_number',"commodity"]).agg({"modal_rs_quintal" : "mean"}).reset_index()
        px.line(state_year_gb, x="week_number", y="modal_rs_quintal",color="commodity")

2024 up
   week_number commodity  modal_rs_quintal
0            1     Onion       1931.686520
1            1    Potato        745.951402
2            1      Rice       2748.390358
3            1     Wheat       2462.610963
4            2     Onion       1905.065401
2024 mp
   week_number commodity  modal_rs_quintal
0            1     Onion        726.512500
1            1    Potato        481.380952
2            1     Wheat       2439.107623
3            2     Onion        868.602273
4            2    Potato        658.727273
2024 pb
   week_number commodity  modal_rs_quintal
0            1     Onion       2218.151316
1            1    Potato        638.089595
2            2     Onion       2306.503145
3            2    Potato        625.315341
4            3     Onion       2262.911672
2024 rj
   week_number commodity  modal_rs_quintal
0            1     Onion       1822.197368
1            1    Potato        856.559441
2            1      Rice       4450.500000
3            1     Wheat       2436.666667
4            2     Onion       1801.305195
2024 wb
   week_number commodity  modal_rs_quintal
0            1     Onion       2733.000000
1            1    Potato       1325.222930
2            1      Rice       3681.695842
3            1     Wheat       2497.987805
4            2     Onion       2617.576687

In [ ]:
mp_yearly = mp_5yrs.groupby(["year","month","commodity"]).agg({"modal_rs_quintal": "mean","min_rs_quintal":"mean",'max_rs_quintal':'mean'}).reset_index()
mp_yearly.shape

In [112]:
mp_yearly['state'] = "MP"

In [ ]:
up_yearly = (
    up_5yrs.groupby(["year","month" ,"commodity"])
    .agg(
        {"modal_rs_quintal": "mean", "min_rs_quintal": "mean", "max_rs_quintal": "mean"}
    )
    .reset_index()
)
up_yearly['state'] = "UP"
up_yearly.shape

In [ ]:
wb_yearly = (
    wb_5yrs.groupby(["year","month" ,"commodity"])
    .agg(
        {"modal_rs_quintal": "mean", "min_rs_quintal": "mean", "max_rs_quintal": "mean"}
    )
    .reset_index()
)
wb_yearly['state'] = "WB"
wb_yearly.shape

In [ ]:
rj_yearly = (
    rj_5yrs.groupby(["year","month" ,"commodity"])
    .agg(
        {"modal_rs_quintal": "mean", "min_rs_quintal": "mean", "max_rs_quintal": "mean"}
    )
    .reset_index()
)
rj_yearly['state'] = "RJ"
rj_yearly.shape

In [ ]:
pb_yearly = (
    pb_5yrs.groupby(["year","month" ,"commodity"])
    .agg(
        {"modal_rs_quintal": "mean", "min_rs_quintal": "mean", "max_rs_quintal": "mean"}
    )
    .reset_index()
)
pb_yearly['state'] = "PB"
pb_yearly.shape

In [117]:
mp_yearly_district = (
    mp_5yrs.groupby(["year","district_name","commodity"])
    .agg(
        {"modal_rs_quintal": "mean", "min_rs_quintal": "mean", "max_rs_quintal": "mean"}
    )
    .reset_index()
)

In [118]:
mp_pivoted_df = mp_yearly_district.pivot_table(
    index="year", columns="commodity", values="modal_rs_quintal", fill_value=0
)

In [132]:
wb_yearly_district = (
    wb_5yrs.groupby(["year","district_name","commodity"])
    .agg(
        {"modal_rs_quintal": "mean", "min_rs_quintal": "mean", "max_rs_quintal": "mean"}
    )
    .reset_index()
)

In [ ]:
wb_pivoted_df = wb_yearly_district.pivot_table(
    index="year", columns="commodity", values="modal_rs_quintal", fill_value=0
)

In [119]:
up_yearly_district = (
    up_5yrs.groupby(["year", "district_name", "commodity"])
    .agg(
        {"modal_rs_quintal": "mean", "min_rs_quintal": "mean", "max_rs_quintal": "mean"}
    )
    .reset_index()
)

In [120]:
up_pivoted_df = up_yearly_district.pivot_table(
    index="year", columns="commodity", values="modal_rs_quintal", fill_value=0
)

In [146]:
rj_yearly_district = (
    rj_5yrs.groupby(["year", "district_name", "commodity"])
    .agg(
        {"modal_rs_quintal": "mean", "min_rs_quintal": "mean", "max_rs_quintal": "mean"}
    )
    .reset_index()
)

In [147]:
rj_pivoted_df = rj_yearly_district.pivot_table(
    index="year", columns="commodity", values="modal_rs_quintal", fill_value=0
)

In [148]:
pb_yearly_district = (
    pb_5yrs.groupby(["year", "district_name", "commodity"])
    .agg(
        {"modal_rs_quintal": "mean", "min_rs_quintal": "mean", "max_rs_quintal": "mean"}
    )
    .reset_index()
)

In [149]:
pb_pivoted_df = pb_yearly_district.pivot_table(
    index="year", columns="commodity", values="modal_rs_quintal", fill_value=0
)

In [ ]:
up_df = up_pivoted_df.reset_index()
up_df.head()

In [ ]:
up_df.columns = ["year", "Onion", "Potato", "Rice", "Wheat"]
up_df['state'] = "UP"
up_df.head()

In [ ]:
wb_df = wb_pivoted_df.reset_index()
wb_df.columns = ["year", "Onion", "Potato", "Rice", "Wheat"]
wb_df['state'] = "WB"
wb_df.head()

In [ ]:
mp_df = mp_pivoted_df.reset_index()
mp_df.columns = ["year", "Onion", "Potato", "Rice", "Wheat"]
mp_df['state'] = "MP"
mp_df.head()

In [ ]:
rj_df = rj_pivoted_df.reset_index()
rj_df.columns = ["year", "Onion", "Potato", "Rice", "Wheat"]
rj_df['state'] = "RJ"
rj_df.head()

In [ ]:
pb_df = pb_pivoted_df.reset_index()
pb_df.columns = ["year", "Onion", "Potato", "Rice", "Wheat"]
pb_df['state'] = "PB"
pb_df.head()

In [163]:
df_s = pd.merge(up_df, mp_df, how="outer")
df_s = pd.merge(df_s, wb_df, how="outer")
df_s = pd.merge(df_s, rj_df, how="outer")
df_s = pd.merge(df_s, pb_df, how="outer")

In [ ]:
df_s.shape

In [ ]:
df_s.head()

In [166]:
import plotly.express as px
# df = px.data.gapminder().query("continent == 'Oceania'")

In [ ]:
fig = px.line(df_s, x='year', y='Onion', color='state', symbol="state")
fig.show()

In [ ]:
fig = px.line(df_s, x='year', y='Potato', color='state', symbol="state")
fig.show()

In [ ]:
fig = px.line(df_s, x='year', y='Rice', color='state', symbol="state")
fig.show()

In [ ]:
fig = px.line(df_s, x='year', y='Wheat', color='state', symbol="state")
fig.show()